<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/coreStyle.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>String matching</title>
</head>
<body class="centrado">
    
    <div class="box">
        <div class="box-content">
    <div>
        <h1 style="font-size: 60px;">String matching</h1>
    </div>
    <div class="botones">


        <button class="btn btn-outline-primary"><a href="/on_sql">With postgres</a></button>
        <button class="btn btn-outline-primary"><a href="/our_implementation">Our implementation</a></button>
        
    </div>
</div>
</div>
    </body>
    <script src="../static/js/index.js?token="></script>
</html>