<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <link rel="stylesheet" href="../static/css/coreStyle.css">
    <title>Our implementation</title>
    <style>
        .hidden {
            display: none;
            padding: 25px;
            margin-bottom: 50px;
        }
        .tabla{
            width: 100%;
            background-color: beige;
        }
    </style>
</head>
<body>
    <div>
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item">
                    <a href="#">Blog</a> 
                </li> -->
                <li class="breadcrumb-item active">
                    On sql
                </li>
                <li class="breadcrumb-item">
                    <a href="../our_implementation">Our implementation</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="../">Home</a>
                </li>
            </ol>
        </nav>
        <div class="cuerpo">
            <div id="error" class="hidden">
                <p style="color: red; font-size: 24px;">Something went wrong!!!</p>
            </div>
            <form action="/our_implementation1/" method="get" class="" id="form">
                <input type="text" id="word" name="Buscador" />
                <input type="number" id="k" name="k" />
                <input type="submit" value="buscar" class="btn btn-outline-primary"/>
            </form>
            <div >
                <table id="encabezado" class="tabla hidden">
                    <tr>
                        <th>
                            Titulo
                        </th>
                        <th>
                            Contenido
                        </th>
                        <th>
                            Similitud
                        </th>
                    </tr>
                </table>
                <table id="result" class="tabla">
                    {%for item in result%}
                    <tr>                        
                        {{item}}
                    </tr>
                    {%endfor%}
               
                </table>
                <h3 id="tiempo" class="hidden">{%for intem in tiempo%}
                    {{item}}
                    {%endfor%}
                </h3>
               
            </div>  
        </div>
        
    </div>
<script>
  const query = document.getElementById('word');
     const K = document.getElementById('k');
    document.getElementById('form').onsubmit = function(e){
        e.preventDefault();
        const k = K.value;
        const Query = query.value;
       fetch('/on_sql/',{
           method: 'POST',
           body: JSON.stringify({
               'Query' : Query,
               'K': k
           }),
           headers: {
               'Content-type': 'application/json'
           }
       }).then(function(response){
           return response.json();
       }).then(function (responseJson){
        const a = document.getElementById('result');
            a.innerHTML = ''
            var td = document.createElement('td');
            var tr = document.createElement('tr');
            var h1sec = document.createElement('h3');
        
                for(const j in responseJson[1][0]){
                    h1sec.innerHTML = responseJson[1][0][j];
                    document.getElementById('tiempo').appendChild(h1sec.cloneNode(true));    
                }
            
            td.style.cssText = "border: 1px solid black; width: 34%"
            for(const i in responseJson[0]){
                tr.innerHTML = '';
                for(const j in responseJson[0][i]){
                    
                    td.innerHTML = responseJson[0][i][j];
                    tr.appendChild(td.cloneNode(true))
                }
                document.getElementById('result').appendChild(tr.cloneNode(true));               
            }

            document.getElementById('error').className = 'hidden';
            document.getElementById('encabezado').className = 'tabla';
            document.getElementById('form').className = 'hidden';
            document.getElementById('word').value = '';
            document.getElementById('tiempo').className = '';
           
       }).catch(function(){
           document.getElementById('error').className = '';
       });
   };
</script>

</body>

</html>